@model SurveyAnswerViewModel
@{
    ViewData["Title"] = "GetAnswers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-12">
    <form asp-action="GetAnswers">
        @foreach (var question in Model.Survey.Questions)
        {
            <p>@question.Text</p>

            @foreach (var choice in question.Choices)
            {
                if (choice.Type == "Multi")
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="searchable-container row">
                                <div class="items col-xs-5 col-sm-5 col-md-8 col-lg-3">
                                    <div class="info-block block-info clearfix">
                                        <div class="square-box pull-left">
                                            <span class="glyphicon glyphicon-lg glyphicon-check"></span>
                                        </div>
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                            <label class="btn btn-default">
                                                <div class="bizcontent col-md-6">
                                                    <input asp-for="@Model.Answer.Choice" type="checkbox" name="var_id" autocomplete="off" value="@choice.Text" class="icheck">
                                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                    <h5>@choice.Text</h5>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (choice.Type == "Single")
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="searchable-container">
                                <div class="items col-xs-5 col-sm-5 col-md-8 col-lg-3">
                                    <div class="info-block block-info clearfix">
                                        <div class="square-box pull-left">
                                            <span class="glyphicon glyphicon-lg glyphicon-check"></span>
                                        </div>
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                            <label class="btn btn-default">
                                                <div class="bizcontent col-md-12">
                                                    <input asp-for="@Model.Answer.Choice" type="radio" name="var_id" autocomplete="off" value="@choice.Text" class="iradio">
                                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                    <h5>@choice.Text</h5>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="btn-group col-md-12" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" autocomplete="off">@choice.Text
                            </label>
                        </div>*@
                }
                else if (choice.Type == "Comment")
                {
                    <p>LOL</p>

                }
            }

        }
        <input asp-for="@Model.SurveyId" value="@Model.SurveyId" type="hidden" />
        <input asp-for="@Model.Answer.UID" value="@Model.Answer.UID" type="hidden" />
        <input class="btn btn-success" type="submit" value="Soruyu Cevapla" onclick="AnswerQuestion()" />


    </form>








</div>

@section Scripts{
    <script>
    $(function () {
        $('#search').on('keyup', function () {
            var pattern = $(this).val();
            $('.searchable-container .items').hide();
            $('.searchable-container .items').filter(function () {
                return $(this).text().match(new RegExp(pattern, 'i'));
            }).show();
        });
    });




    $('.icheck').on('change', function () {
        if ($('.icheck:checked').length > 1) {
            this.checked = false;
        }
        });
        $('.iradio').on('change', function () {
        if ($('.iradio:active').length > 0) {
            this.active = false;
        }
        });
        alert($('input[name=var_id]:last').val());

        function test() {
            var stringArray = new Array();
            for (var i = 0; i < var_id.checked.length; i++) {
                stringArray[i] =
            }
            var postData = { values: stringArray };

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAnswers", "Answers")",
                data: {
                    surveyId: SurveyId,
                    userId: UserId,
                    _answer: postData
                },
                success: function (data) {
                    alert(data.Result);
                },
                dataType: "json",
                traditional: true
            });
        }
    @*function AnswerQuestion() {
        var SurveyId = $("#SurveyId").val();
        alert($('input[name=var_id] option:selected').val());
        var UserId = $("#UID").val();
        $.ajax({
            url: "@Url.Action("GetAnswers", "Answers")",
            type: "post",
            data: {
                surveyId: SurveyId,
                userId: UserId,
                _answer: $('#var_id option:selected').val()
            },
        success: function () {
                alert("Başarılı")
            }
        });

        }*@
        //$("#btn_").on('click', function () {
        //    var checkbox_value = "";
        //    $(":checkbox").each(function () {
        //        var ischecked = $(this).is(":checked");
        //        if (ischecked) {
        //            checkbox_value += $(this).val() + "|";
        //        }
        //    });
        //    alert(checkbox_value);

        //});

    </script>


}