@*@model IEnumerable<Choice>*@
@model ChoiceIdViewModel
@{
    ViewData["Title"] = "AddChoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<text>@Model.QuestionText</text>

<div class="container col-md-12">
    <h2>AddChoice</h2>
    <table class="table">
        <thead>
            <tr>
                <th>

                    @* @Html.DisplayFor(model => model.Question.Text)*@
                </th>

            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }


            </tbody>*@
    </table>

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Choice.Text" class="control-label"></label>
                <input id="Choice_Text" class="form-control" />
                <span asp-validation-for="Choice.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.QuestId" asp-for="@Model.QuestId" />
                <input asp-for="@Model.QuestionType" value="@Model.QuestionType" type="hidden" />
                @* <input type="hidden" value="@Model.Question.Id" name="QId" />*@
                <input onclick="GetChoice()" type="submit" value="Cevap Oluştur" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-success">Soruyu Tamamla</a>
            </div>
        </div>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>Choices</th>

        </tr>
    </thead>
    <tbody id="ChoicesTBody"></tbody>
</table>




@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        function GetChoice() {
            var ChoiceText = $("#Choice_Text").val();
            var QuestionId = $("#QuestId").val();
            var QuestType = $("#QuestionType").val();
            $.ajax({
                url: "@Url.Action("AddChoice", "Surveys")",
                type: "post",
                data: { choicetext: ChoiceText, questionid: QuestionId, questionType: QuestType },
                success: function (data) {
                    toastr.success("Cevap Eklendi.");
                    $("#ChoicesTBody").append("<tr><td>" + data + "</td></tr>");


                },

                error: function (data) {
                    toastr.error("Hata: Cevap Eklenemedi!");

                }
            });
        }

    </script>
}